body, html {
    height: 100%;
}

/* DESKTOP MENU */

#menu {
    background: rgba(33, 33, 33, 0.8);
}

nav ul li.active {
    background: rgba(1, 87, 155, 0.6);
}

nav ul li:hover {
    background-color: #212121;
}

/* ---------------------------------------------------------- */

/* MOBILE MENU */

nav ul li.active-mobile {
    background-color: rgba(1, 87, 155, 0.6);
}

#mobile-menu li:hover {
    background-color: #f5f5f5;
}

/* ---------------------------------------------------------- */

/* INDEX */

.gamealize-logo {
    transition: all .2s ease-in-out; 
}

.gamealize-logo:hover {
    transform: scale(1.1);
}

.hero-background {
    background-image: url(../img/background.jpg);
    height: 100%; 

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#como-funciona {
    margin-top: 50px;
    margin-bottom: 60px;
}

.items {
    margin-top: -30px;
}

/* ---------------------------------------------------------- */

/* REGISTRATION */

.registration-header {
    padding-bottom: 94px;
    background-color: white;
}

.registration-logo {
    margin-top: 15px;
}

.registration-box {
    margin-top: 50px;
}

#registration-button {
    margin-top: 40px;
}

/* ---------------------------------------------------------- */

/* OUR TEAM */

#nossa-equipe {
    margin-bottom: 50px;
}

#member img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Mobile & Tablet */
@media screen and (max-width: 1199.98px) {
    #member {
        margin-bottom: 30px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    #member img {
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }

    #member img:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
        transition: all .2s ease-in-out; 
    }
}